.actualites__content {
    padding: 3rem 0 1.5rem;

    .actualites__content__container {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        row-gap: 5rem;
        column-gap: 1.5rem;

        .post__link {
            text-decoration: none;

            .post {
                display: flex;
                flex-direction: column;
                gap: 2rem;
                position: relative;
                width: 100%;

                &>figure {

                    &>img {
                        width: 100%;
                        height: 250px;
                        object-fit: cover;
                    }
                }

                &>div {
                    font-family: $openSans;
                    color: black;
                    display: flex;
                    flex-direction: column;
                    gap: 1rem;
                    padding-bottom: 2rem;

                    .post__meta {
                        font-size: 0.875rem;
                    }

                    &>h2 {
                        font-size: 1rem;
                        font-weight: 700;
                        -webkit-box-orient: vertical;
                        -webkit-line-clamp: 2;
                    }
                }

                &::before {
                    content: '';
                    position: absolute;
                    top: 100%;
                    width: 100%;
                    height: 3px;
                    background-image: linear-gradient(to right, $mainYellow 50%, $mainBlue 50%);
                    transform: scaleX(0);
                    transition: transform .3s ease-in-out;
                    z-index: 2;
                }

                &:hover::before {
                    transform: scaleX(1);
                }

                .post__border__bottom {
                    position: absolute;
                    top: 100%;
                    width: 100%;
                    height: 3px;
                    background-color: $grey;
                    z-index: 1;
                }
            }
        }
    }

    .posts__pagination__nav {
        display: grid;
        padding-top: 6rem;
        padding-bottom: 6rem;

        .navigation {
            justify-self: center;

            .nav-links {
                font-family: $openSans;
                font-size: 1rem;
                font-weight: 700;
                display: flex;
                flex-direction: row;

                .page-numbers.current {
                    background-color: $mainBlue;
                    color: $mainYellow;
                }

                .page-numbers {
                    border-left: solid 3px $mainBlue;
                    border-top: solid 3px $mainBlue;
                    border-bottom: solid 3px $mainBlue;
                    padding: 1rem;
                    text-decoration: none;
                    color: black;
                }

                .page-numbers:hover {
                    background-color: $grey;
                }

                .next {
                    border-right: solid 3px $mainBlue;
                }
            }
        }
    }
}

.post__single__header__content {
    display: grid;

    .post__single__header__fixed {
        padding: 3rem 0 3rem;
        max-width: 50rem;
        justify-self: center;
        display: flex;
        flex-direction: column;
        gap: 2rem;
        font-family: $openSans;

        .header__all__pages__nav {
            margin-bottom: 4rem;
        }

        &>h1 {
            font-size: 3rem;
            font-weight: 800;
            line-height: normal;
        }

        &>p {
            font-weight: 700;
            opacity: 0.4;
        }

        &>ul {
            display: flex;
            flex-wrap: wrap;
            gap: 1rem;

            &>li {
                &>a {
                    text-decoration: none;
                    border-radius: 15px;
                    background-color: $mainBlue;
                    color: $mainYellow;
                    font-weight: 700;
                    padding: 5px;
                }

                &>a:hover {
                    opacity: 0.5;
                }
            }
        }
    }
}

.post__single {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 4rem;
    padding-bottom: 4rem;

    .post__single__img {
        max-width: 70rem;

        &>figure {

            &>img {
                width: 100%;
                height: auto;
                object-fit: cover;
            }
        }
    }

    .post__single__content {
        width: 100%;
        overflow: hidden;
        font-family: $openSans;

        &>h1 {
            font-size: 1.5rem;
            font-weight: 700;
            margin-bottom: 1rem;
            margin-top: 3rem;
        }

        &>h2 {
            font-size: 1.5rem;
            font-weight: 700;
            margin-bottom: 1rem;
            margin-top: 3rem;
        }

        &>h3 {
            font-size: 1.5rem;
            font-weight: 700;
            margin-bottom: 1rem;
            margin-top: 3rem;
        }

        &>p {
            text-align: justify;
            margin-top: 1rem;
            margin-bottom: 1rem;
            font-size: 1.15rem;
            line-height: normal;

            &>a {
                text-decoration: none;
                color: $mainBlue;
            }

            &>a:hover {
                text-decoration: underline;
            }
        }

        &>ul {
            padding-left: 2rem;
            margin-bottom: 1rem;

            &>li {
                font-size: 1.15rem;
                line-height: normal;
            }
        }
    }
}


@media screen and (min-width: 768px) and (max-width : 1023px) {
    .actualites__content {
        .actualites__content__container {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            row-gap: 4rem;
            column-gap: 1.5rem;
        }
    }
}

@media screen and (max-width : 767px) {
    .actualites__content {
        .actualites__content__container {
            display: grid;
            grid-template-columns: 1fr;
            row-gap: 3rem;
        }
    }

    .post__single__header__content{

        .post__single__header__fixed{
            &>ul{
                gap: 2rem;
            }
        }
    }
}